<div class="flex-grow-1" style="overflow:auto;height:100%;">
    @if (Points != null)
    {
        @foreach (var point in Points.Points)
        {
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
            <MudText>@point.ToString()</MudText>
        }
    }
</div>


@code {
    [Parameter]
    public BasicPointRenderer? Points { get; set; } 

    public void Update()
    {
        //StateHasChanged();
    }
}
